# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
.vscode

# production
build

# misc
.DS_Store
.env.dev
.env
npm-debug.log
yarn-error.log
.idea
dist
/screenshots/

generated
prisma/migrations
